.container {
    border-radius: var(--border-radius-md);
    border: 1px solid hsla(var(--lavender-pink-base), 0.5);
    background-color: var(--buccaneer);
    transition-duration: var(--standard-transition);
    color: var(--offwhite);
    transition-property: border-color, background-color;
    outline: none;
    font-size: 100%;
    padding: 3px;
}

.mobile {
    padding: 10px;
    font-size: 110%;
}

.container:focus {
    background-color: var(--crater-brown);
}

:global(body.dark) :local(.container) {
    background-color: var(--crater-brown);
    border-color: var(--buccaneer);
}

:global(body.dark) :local(.container:focus) {
    background-color: var(--night-rider);

}