.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .container {
    display: flex;
    width: fit-content;
    -webkit-animation-name: spinner;
    animation-name: spinner;
    -webkit-animation-duration: var(--fa-animation-duration, 2s);
    animation-duration: var(--fa-animation-duration, 2s);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
} */

/* https://medium.com/@clg/animated-svg-spinner-8dff32d310fc
I am too stupid to come up with this :D  */

svg.spinner {
    --size: 26px;
    --stroke-width: 2;
    width: var(--size);
    height: var(--size);
}

svg.spinner circle {
    fill: transparent;
    stroke: #212121;
    stroke-width: var(--stroke-width);
    stroke-linecap: round;
    stroke-dasharray: calc(3.14 * var(--size));
    -webkit-transform-origin: calc(var(--size) / 2) calc(var(--size) / 2) 0;
    -moz-transform-origin: calc(var(--size) / 2) calc(var(--size) / 2) 0;
    -ms-transform-origin: calc(var(--size) / 2) calc(var(--size) / 2) 0;
    -o-transform-origin: calc(var(--size) / 2) calc(var(--size) / 2) 0;
    transform-origin: calc(var(--size) / 2) calc(var(--size) / 2) 0;
    -webkit-animation: spinner 2s linear infinite;
    -moz-animation: spinner 2s linear infinite;
    -ms-animation: spinner 2s linear infinite;
    -o-animation: spinner 2s linear infinite;
    animation: spinner 2s linear infinite;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        stroke-dashoffset: calc(0.66 * var(--size));
    }

    50% {
        -webkit-transform: rotate(720deg);
        stroke-dashoffset: calc(3.14 * var(--size));
    }

    100% {
        -webkit-transform: rotate(1080deg);
        stroke-dashoffset: calc(0.66 * var(--size));
    }
}

@-moz-keyframes spinner {
    0% {
        -moz-transform: rotate(0deg);
        stroke-dashoffset: calc(0.66 * var(--size));
    }

    50% {
        -moz-transform: rotate(720deg);
        stroke-dashoffset: calc(3.14 * var(--size));
    }

    100% {
        -moz-transform: rotate(1080deg);
        stroke-dashoffset: calc(0.66 * var(--size));
    }
}

@-ms-keyframes spinner {
    0% {
        -ms-transform: rotate(0deg);
        stroke-dashoffset: calc(0.66 * var(--size));
    }

    50% {
        -ms-transform: rotate(720deg);
        stroke-dashoffset: calc(3.14 * var(--size));
    }

    100% {
        -ms-transform: rotate(1080deg);
        stroke-dashoffset: calc(0.66 * var(--size));
    }
}

@-o-keyframes spinner {
    0% {
        -o-transform: rotate(0deg);
        stroke-dashoffset: calc(0.66 * var(--size));
    }

    50% {
        -o-transform: rotate(720deg);
        stroke-dashoffset: calc(3.14 * var(--size));
    }

    100% {
        -o-transform: rotate(1080deg);
        stroke-dashoffset: calc(0.66 * var(--size));
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
        stroke-dashoffset: calc(0.66 * var(--size));
    }

    50% {
        transform: rotate(720deg);
        stroke-dashoffset: calc(3.14 * var(--size));
    }

    100% {
        transform: rotate(1080deg);
        stroke-dashoffset: calc(0.66 * var(--size));
    }
}