:root {

    --app-background: hsl(343, 100%, 98.5%);

    --main-50: #994061;
    --main-100: #9f4867;
    --main-150: #a54f6e;
    --main-200: #aa5774;
    --main-250: #b05f7a;
    --main-300: #b66681;
    --main-350: #bb6e87;
    --main-400: #c1758e;
    --main-450: #c77d95;
    --main-500: #cc859b;
    --main-550: #d28ca2;
    --main-600: #d894a9;
    --main-650: #dd9cb0;
    --main-700: #e3a4b7;
    --main-750: #e9abbe;
    --main-800: #eeb3c5;
    --main-850: #f4bbcc;
    --main-900: #f9c3d3;
    --main-950: #ffcbda;

    --secondary-50: #fdf7f8;
    --secondary-100: #eee8e9;
    --secondary-150: #dfdadb;
    --secondary-200: #d1cbcc;
    --secondary-250: #c3bdbe;
    --secondary-300: #b4afb0;
    --secondary-350: #a6a1a2;
    --secondary-400: #999495;
    --secondary-450: #8b8687;
    --secondary-500: #7e797a;
    --secondary-550: #716c6d;
    --secondary-600: #646061;
    --secondary-650: #585454;
    --secondary-700: #4c4848;
    --secondary-750: #403c3d;
    --secondary-800: #343131;
    --secondary-850: #292626;
    --secondary-900: #1e1b1c;
    --secondary-950: #141011;

    --mixed-50: #200f15;
    --mixed-100: #2a191e;
    --mixed-150: #352328;
    --mixed-200: #402d32;
    --mixed-250: #4b373c;
    --mixed-300: #564247;
    --mixed-350: #624d51;
    --mixed-400: #6e585d;
    --mixed-450: #7a6368;
    --mixed-500: #876f73;
    --mixed-550: #947b7f;
    --mixed-600: #a0878b;
    --mixed-650: #ad9397;
    --mixed-700: #bba0a3;
    --mixed-750: #c8acb0;
    --mixed-800: #d5b9bc;
    --mixed-850: #e3c6c9;
    --mixed-900: #f1d4d6;
    --mixed-950: #ffe1e3;

    --main-opacity-50: #99406170;
    --main-opacity-100: #9f486770;
    --main-opacity-150: #a54f6e70;
    --main-opacity-200: #aa577470;
    --main-opacity-250: #b05f7a70;
    --main-opacity-300: #b6668170;
    --main-opacity-350: #bb6e8770;
    --main-opacity-400: #c1758e70;
    --main-opacity-450: #c77d9570;
    --main-opacity-500: #cc859b70;
    --main-opacity-550: #d28ca270;
    --main-opacity-600: #d894a970;
    --main-opacity-650: #dd9cb070;
    --main-opacity-700: #e3a4b770;
    --main-opacity-750: #e9abbe70;
    --main-opacity-800: #eeb3c570;
    --main-opacity-850: #f4bbcc70;
    --main-opacity-900: #f9c3d370;
    --main-opacity-950: #ffcbda70;

    --secondary-opacity-50: #fdf7f870;
    --secondary-opacity-100: #eee8e970;
    --secondary-opacity-150: #dfdadb70;
    --secondary-opacity-200: #d1cbcc70;
    --secondary-opacity-250: #c3bdbe70;
    --secondary-opacity-300: #b4afb070;
    --secondary-opacity-350: #a6a1a270;
    --secondary-opacity-400: #99949570;
    --secondary-opacity-450: #8b868770;
    --secondary-opacity-500: #7e797a70;
    --secondary-opacity-550: #716c6d70;
    --secondary-opacity-600: #64606170;
    --secondary-opacity-650: #58545470;
    --secondary-opacity-700: #4c484870;
    --secondary-opacity-750: #403c3d70;
    --secondary-opacity-800: #34313170;
    --secondary-opacity-850: #29262670;
    --secondary-opacity-900: #1e1b1c70;
    --secondary-opacity-950: #14101170;

    --mixed-opacity-50: #200f1570;
    --mixed-opacity-100: #2a191e70;
    --mixed-opacity-150: #35232870;
    --mixed-opacity-200: #402d3270;
    --mixed-opacity-250: #4b373c70;
    --mixed-opacity-300: #56424770;
    --mixed-opacity-350: #624d5170;
    --mixed-opacity-400: #6e585d70;
    --mixed-opacity-450: #7a636870;
    --mixed-opacity-500: #876f7370;
    --mixed-opacity-550: #947b7f70;
    --mixed-opacity-600: #a0878b70;
    --mixed-opacity-650: #ad939770;
    --mixed-opacity-700: #bba0a370;
    --mixed-opacity-750: #c8acb070;
    --mixed-opacity-800: #d5b9bc70;
    --mixed-opacity-850: #e3c6c970;
    --mixed-opacity-900: #f1d4d670;
    --mixed-opacity-950: #ffe1e370;

    /* --mixed-50:#532937;
    --mixed-950:#ffe1e8; */
}

html[data-theme="dark"] {
    --app-background: hsl(338, 41%, 10%);

    --main-50: #ffcbda;
    --main-100: #f9c3d3;
    --main-150: #f4bbcc;
    --main-200: #eeb3c5;
    --main-250: #e9abbe;
    --main-300: #e3a4b7;
    --main-350: #dd9cb0;
    --main-400: #d894a9;
    --main-450: #d28ca2;
    --main-500: #cc859b;
    --main-550: #c77d95;
    --main-600: #c1758e;
    --main-650: #bb6e87;
    --main-700: #b66681;
    --main-750: #b05f7a;
    --main-800: #aa5774;
    --main-850: #a54f6e;
    --main-900: #9f4867;
    --main-950: #994061;

    --secondary-50: #141011;
    --secondary-100: #1e1b1c;
    --secondary-150: #292626;
    --secondary-200: #343131;
    --secondary-250: #403c3d;
    --secondary-300: #4c4848;
    --secondary-350: #585454;
    --secondary-400: #646061;
    --secondary-450: #716c6d;
    --secondary-500: #7e797a;
    --secondary-550: #8b8687;
    --secondary-600: #999495;
    --secondary-650: #a6a1a2;
    --secondary-700: #b4afb0;
    --secondary-750: #c3bdbe;
    --secondary-800: #d1cbcc;
    --secondary-850: #dfdadb;
    --secondary-900: #eee8e9;
    --secondary-950: #fdf7f8;

    --mixed-50: #ffe1e3;
    --mixed-100: #f1d4d6;
    --mixed-150: #e3c6c9;
    --mixed-200: #d5b9bc;
    --mixed-250: #c8acb0;
    --mixed-300: #bba0a3;
    --mixed-350: #ad9397;
    --mixed-400: #a0878b;
    --mixed-450: #947b7f;
    --mixed-500: #876f73;
    --mixed-550: #7a6368;
    --mixed-600: #6e585d;
    --mixed-650: #624d51;
    --mixed-700: #564247;
    --mixed-750: #4b373c;
    --mixed-800: #402d32;
    --mixed-850: #352328;
    --mixed-900: #2a191e;
    --mixed-950: #200f15;


    --main-opacity-50: #ffcbda70;
    --main-opacity-100: #f9c3d370;
    --main-opacity-150: #f4bbcc70;
    --main-opacity-200: #eeb3c570;
    --main-opacity-250: #e9abbe70;
    --main-opacity-300: #e3a4b770;
    --main-opacity-350: #dd9cb070;
    --main-opacity-400: #d894a970;
    --main-opacity-450: #d28ca270;
    --main-opacity-500: #cc859b70;
    --main-opacity-550: #c77d9570;
    --main-opacity-600: #c1758e70;
    --main-opacity-650: #bb6e8770;
    --main-opacity-700: #b6668170;
    --main-opacity-750: #b05f7a70;
    --main-opacity-800: #aa577470;
    --main-opacity-850: #a54f6e70;
    --main-opacity-900: #9f486770;
    --main-opacity-950: #99406170;

    --secondary-opacity-50: #14101170;
    --secondary-opacity-100: #1e1b1c70;
    --secondary-opacity-150: #29262670;
    --secondary-opacity-200: #34313170;
    --secondary-opacity-250: #403c3d70;
    --secondary-opacity-300: #4c484870;
    --secondary-opacity-350: #58545470;
    --secondary-opacity-400: #64606170;
    --secondary-opacity-450: #716c6d70;
    --secondary-opacity-500: #7e797a70;
    --secondary-opacity-550: #8b868770;
    --secondary-opacity-600: #99949570;
    --secondary-opacity-650: #a6a1a270;
    --secondary-opacity-700: #b4afb070;
    --secondary-opacity-750: #c3bdbe70;
    --secondary-opacity-800: #d1cbcc70;
    --secondary-opacity-850: #dfdadb70;
    --secondary-opacity-900: #eee8e970;
    --secondary-opacity-950: #fdf7f870;

    --mixed-opacity-50: #ffe1e370;
    --mixed-opacity-100: #f1d4d670;
    --mixed-opacity-150: #e3c6c970;
    --mixed-opacity-200: #d5b9bc70;
    --mixed-opacity-250: #c8acb070;
    --mixed-opacity-300: #bba0a370;
    --mixed-opacity-350: #ad939770;
    --mixed-opacity-400: #a0878b70;
    --mixed-opacity-450: #947b7f70;
    --mixed-opacity-500: #876f7370;
    --mixed-opacity-550: #7a636870;
    --mixed-opacity-600: #6e585d70;
    --mixed-opacity-650: #624d5170;
    --mixed-opacity-700: #56424770;
    --mixed-opacity-750: #4b373c70;
    --mixed-opacity-800: #402d3270;
    --mixed-opacity-850: #35232870;
    --mixed-opacity-900: #2a191e70;
    --mixed-opacity-950: #200f1570;
}


button,
.chakra-switch {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}


/* sidebar */


.ps-sidebar-root {
    border: none !important;
}

.ps-sidebar-container {
    background-color: inherit !important;
    color: inherit !important;
}

.ps-menu-button {
    background-color: var(--sidebar-button);
    transition-duration: var(--sidebar-button-transition-duration);
    transition-timing-function: var(--sidebar-button-transition-timing);
}

.ps-submenu-content {
    background-color: transparent !important;
}

.ps-menu-label {
    display: flex;
    align-self: center;
    transition: var(--sidebar-button-transition-duration);
    transition-timing-function: var(--sidebar-button-transition-timing);
}

.ps-menuitem-root.collapsed .ps-menu-label {
    opacity: 0;
    visibility: hidden;
}

.ps-menuitem-root.collapsed .ps-subenu-content {
    display: none !important;
}

.ps-menuitem-root .ps-submenu-expand-icon {
    transform: none !important;
    top: unset !important;
    align-self: center;
}

.ps-submenu-expand-icon>span {
    width: 10px;
    height: 10px;
}