.container {
    display: flex;
    /* grid-template: auto auto; */
    /* width: 10px; */
    flex-direction: column;
    gap: 10px;
}

.inputContainer {
    display: flex;
    gap: 10px;

}

.inputContainerInner {
    max-width: 80%;
}

.inputContainerInner>input {
    /* max-width: --webkit-fill-available; */
    max-width: 90%;
}